<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_remove_item">
        <observer name="freecartproduct_remove" instance="Elightwalk\Freecartproduct\Observer\FreeProductRemove" />
    </event>

    <event name="checkout_cart_product_add_after">
        <observer name="productAdd" instance="Elightwalk\Freecartproduct\Observer\ProductAdd" />
    </event>
</config>