<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="elightwalk_freecartproduct" translate="label" sortOrder="1">
            <label>Free Cart Product</label>
        </tab>
        <section id="freecart" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>elightwalk_freecartproduct</tab>
            <label>Free Cart Product</label>
            <resource>Elightwalk_Freecartproudct::freecart_config</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="freeproduct_sku" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Product SKU : </label>
                    <comment><![CDATA[<strong>Enter Product SKU Which You Want To Offer As Free</strong>]]></comment>
                </field>
                <field id="freeproduct_heading" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Title Of Free Product : </label>
                    <comment><![CDATA[<strong>Enter Title Of Free Product That Denotes That This Is The Free Product. You Don't Have To Pay.</strong>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>